*.png
MacOS/**/*.md
.github
.revision-hash
.version
.circleci
.DS_Store
.vscode
*.log
.idea
test

Microsoft.WinGet.Client/*

# Temporarily ignore WinGet modules
Windows/PowerShell/Modules/Microsoft.WinGet.Client
Windows/PowerShell/Modules/Microsoft.WinGet.CommandNotFound